.SubmitButton {
  border: none;
  font: inherit;
  cursor: pointer;
  color: #8EAAA8;
  padding: 3%;
  margin-top: 5%;
  width: 100%;
  background-color: #1AB188;
  color: #FFFFFF;
  text-transform: uppercase;
}

.SubmitButton:hover {
  background-color: #00A47A;
}
