.SignUp {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5%;
  width: 90%;
}

.SignUp h1 {
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
}

.SignUp .FullName {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.SignUp .FullName input {
  width: 45%;
}

.SignUp > * {
  box-sizing: border-box;
  width: 100%;
}

.SignUp input {
  padding: 1%;
  margin: 2% 0;
  background: rgba(0,0,0,0);
  border: 1px solid #757575;
  color: #FFFFFF;
}

.SignUp input.error {
  border: 1px solid #D61609;
}

.SignUp .Password {
  position: relative;
  display: flex;
  align-items: center;
}

.SignUp .Password input {
  width: 100%;
}

.SignUp .Password i {
  position: absolute;
  right: 10px;
  color: #757575;
  cursor: pointer;
}
